
body {
        background-color: #191919;
        font-family: rockwell;
        color: gainsboro;
    }
    #wrapper {
        background-color: #26242c;
        width: 1050px;
        margin: 20px 40px 10px 300px;
        float: left;
        box-sizing: border-box;}
    #upperborder {
        margin-top:-10px;
        margin-left:-10px;
        margin-right:-10px;
        padding: 50px 10px 10px 10px;
        background-color: #191919;
        border-width: 1.5px;
        border-style:groove;
        border-top-color: #707070;


        
    }
    
    .upperelementbox {
        color: #666666;
        background-color: #191919;
        margin: -60px 0px 0px 0px;
        width: 400px;
        height: 70px;
        text-align: center;
        padding: 15px 0px 0px 0px;
        box-sizing: border-box;
        float: left;
    }
  
    
    .uppertextfield {
        
        width: 1050px;
        margin: 20px 40px 10px 40px;
        background-color: #323038;
        border-color: #707070;
        border-width: 1px;
        box-sizing: border-box;
        float: left;
    }
    .middletextfield {
        
        width: 1000px;
        margin: 20px 40px 20px 25px;
        background-color: #323038;
        border-color: #707070;
        border-width: 1px;
        box-sizing: border-box;
        float: left;
    }
    #sideline {
        padding: 10px 10px 10px 20px;
        margin: 10px 10px 10px 10px;
        border-width: 1.5px;
        border-color: #707070;
        border-style: groove;
        color: #666666;
        position: fixed;
    }
    .headertext {
        font-size: 24px;
        text-align: center;
        color: gainsboro;


    }
    a:link, a:visited {
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: grey;
      }
    .picturefield {
        color: gainsboro;
        width: 340px;
        margin: 20px 40px 10px 40px;
        background-color: #323038;
        border-color: #707070;
        border-width: 1px;
        box-sizing: border-box;
        float: left;
       
    }
    .hide {
        display:none;
    }
   .hide img {
       height:250px;
     border: 5px solid rgb(180, 163, 163); 
}
    .zoom:hover + .hide{
        display:block;
        position: absolute;
    }
    
    .tabless td, th {
        border: 1px solid gainsboro;
    }
    .grid-container{
        font-size:20px;
        background-color:#707070;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 

    }
    .grid-header{
        font-size:20px;
        background-color:#8ab2c0;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 
    }
    .grid-block1{
        grid-row: 2/5;
        font-size:20px;
        background-color:#677e86;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163);  
    }
    .grid-block2{
        grid-row: 5/7;
        font-size:20px;
        background-color:#677e86;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 
    }
    .grid-block3{
        grid-row:7/11;
        font-size:20px;
        background-color:#677e86;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 
    }
    .grid-block4{
        grid-row: 11/14;
        font-size:20px;
        background-color:#677e86;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 
    }
    .grid-blockextra{
        grid-row: 14/16;
        font-size:20px;
        background-color:#677e86;
        color:gainsboro;
        border: 1px solid rgb(180, 163, 163); 
    }

    .grid-table {
        font-size:20px;
        grid-template-columns: repeat(5, 200px);
        grid-template-rows: repeat(16, 50px);
        display:grid;
        grid-gap: 2px 2px;
        margin-left: 22.5px;
        float:center;
        
    }

    